.cornelius_reader{
    grid-template-columns:  1fr
                                8px
                                30px
                                calc((21/29.7) * 100vh)
                                30px
                                8px
                                1fr;
    grid-template-rows:  1fr
                             20px
                             30px
                             5px
                             15px
                             1fr;
}

.cornelius_reader{
    width: 100vw;
    height: 100vh;
}

.cornelius_reader.page-metadata-mode{
    grid-template-areas:
    "website-title previous-button . page . following-button ."
        "friends previous-button . page . following-button chapter-number"
        "friends previous-button . page . following-button chapter-name"
        "friends previous-button . page . following-button ."
        "friends previous-button . page . following-button chapter-page-progression"
        "friends previous-button . page . following-button .";
}

.cornelius_reader.chapters-list-mode{
    grid-template-areas:
    "website-title previous-button . page . following-button chapters"
        "friends previous-button . page . following-button chapters"
        "friends previous-button . page . following-button chapters"
        "friends previous-button . page . following-button chapters"
        "friends previous-button . page . following-button chapters"
        "friends previous-button . page . following-button chapters";
}

.cornelius_reader .page {
    grid-area: page;
    place-self: stretch;
}


.cornelius_reader #website_title{
    justify-self: center;
    margin-top: 50px;
    width: 300px;
}
.cornelius_reader #website_title > a{
    background-image: url("/images/logo.png");
    background-size: 100% auto;
}

.cornelius_reader .chapter_number, .cornelius_reader .chapter_name,.cornelius_reader .chapter_page_progression {
    text-align: center;
}


/* Friends */
.cornelius_reader #friends{
    grid-area: friends;
    background-image: url("/images/friends.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}
