/* General display */

.cornelius_reader{
    display: grid;
}

/* Layout */
.cornelius_reader .following_page, .cornelius_reader .previous_page{
    place-self: center;
}
.cornelius_reader .following_page{
    grid-area: following-button;
}

.cornelius_reader .previous_page{
    grid-area: previous-button;
}


.cornelius_reader .chapter_number{
    grid-area: chapter-number;
}

.cornelius_reader .chapter_number::after{
    content: "";
    display: inline-block;
    width: 5px;
    height: 15px;
    transform: rotate(270deg);
    margin-left: 15px;
}

.cornelius_reader .chapter_name{
    grid-area: chapter-name;
}

.cornelius_reader .chapter_page_progression{
    grid-area: chapter-page-progression;
}

.cornelius_reader #website_title{
    grid-area: website-title;
}

/* Page metadata */
.cornelius_reader.chapters-list-mode .page_metadata{
    display: none;
}
.cornelius_reader .page_metadata{
    color: white;
}

.cornelius_reader .chapter_number{
    font-size: 20px;
}

.cornelius_reader .chapter_name{
    font-size: 30px;
}

.cornelius_reader .chapter_page_progression{
    font-size: 15px;
    margin-top: 10px;
}

/* Chapters list */
.cornelius_reader.page-metadata-mode .chapters{
    display: none;
}

.cornelius_reader .chapters{
    grid-area: chapters;
    display: grid;

    grid-template-columns: 1fr auto;
    grid-template-areas: "chapters close-button";
}

.cornelius_reader .chapters ul{
    grid-area: chapters;
}


.cornelius_reader .chapters button{
    grid-area: close-button;
    align-self: start;
    color: white;
    background-color: black;
}

/* Buttons */
.cornelius_reader .following_page{
    transform:rotate(180deg);
}

.cornelius_reader .link-button, .cornelius_reader .chapter_number::after{
    background-image: url("/images/change_page_button.svg");
    background-size: 100%;
    background-repeat: no-repeat
}

.cornelius_reader .link-button{
    width: 8px;
    height: 26px;
}

.cornelius_reader .link-button span{
    display: none;
}

.cornelius_reader .loading_screen{
    grid-area: page;
    place-self: center;
    color: white;
}

/* Title */
.cornelius_reader #website_title > a{
    background-repeat: no-repeat no-repeat;
    color: rgba(1,1,1,0);
    display: block;
    width: 100%;
    height: 100%;
}

/* Friends */
.cornerlius_reader #friends{
    grid-area: friends;
}

/* Loading PJ */
.cornelius_reader .loadingpj{
    background-image: url("/images/pj.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    color: rgba(1,1,1,0);
    animation: rotate 3s ease-in-out infinite;
}

@keyframes rotate{
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100%{
        transform: scale(0.8);
    }
}
