.cornelius_reader{
    grid-template-columns:  1fr
                                8px
                                30px
                                calc((21/29.7) * 100vh)
                                30px
                                8px
                                1fr;
    grid-template-rows:  1fr
                             20px
                             30px
                             5px
                             15px
                             1fr;
}

.cornelius_reader{
    width: 100vw;
    height: 100vh;
}

.cornelius_reader.page-metadata-mode{
    grid-template-areas:
    "website-title previous-button . page . following-button ."
        "website-title previous-button . page . following-button chapter-number"
        "website-title previous-button . page . following-button chapter-name"
        "website-title previous-button . page . following-button ."
        "website-title previous-button . page . following-button chapter-page-progression"
        "website-title previous-button . page . following-button .";
}

.cornelius_reader.chapters-list-mode{
    grid-template-areas:
    "website-title previous-button . page . following-button chapters"
        "website-title previous-button . page . following-button chapters"
        "website-title previous-button . page . following-button chapters"
        "website-title previous-button . page . following-button chapters"
        "website-title previous-button . page . following-button chapters"
        "website-title previous-button . page . following-button chapters";
}

.cornelius_reader .page {
    grid-area: page;
    place-self: stretch;
}


.cornelius_reader #website_title > a{
    background-image: url("/images/logo.png");
}
