.cornelius_reader{
    grid-template-rows: 0.5fr
                            20px
                            30px
                            0.5fr
                            calc((29.7/21) * 100vw)
                            0.5fr
                            15px
                            0.5fr;
    grid-template-columns: 1fr
                              8px
                              10px
                              auto
                              8px
                              10px
                               1fr;
    grid-template-areas:
    ". . . . . . ."
        "website-title chapter-number chapter-number chapter-number chapter-number chapter-number chapter-number"
        "website-title chapter-name chapter-name chapter-name chapter-name chapter-name chapter-name"
        ". . . . . . ."
        "page page page page page page page"
        ". . . . . . ."
        ". previous-button . chapter-page-progression . following-button ."
        ". . . . . . ."
}

.cornelius_reader{
    width: 100vw;
    height: 100vh;
}

.cornelius_reader .page {
    grid-area: page;
    place-self: stretch;
}
